{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<!-- Highest rated travel guide | Worth checking out -->
<div class="uk-container uk-visible@m">

</div>

<div class="uk-container uk-hidden@m">

</div>

<!-- New | Hot | Offers | Travel Guides | Filter -->
<!-- List of travel guides -->
<nav class="uk-container uk-container-small uk-margin-medium uk-visible@m">
    <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left uk-width-expand">
            <ul class="uk-navbar-nav uk-margin-medium">
                <li><a href="#">New</a></li>
                <li><a href="#">Hot</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-margin-medium">
                <li><a href="#">Offers</a></li>
                <li><a href="#">Travel Guides</a></li>
                <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<nav>
    <div class="uk-container uk-container-small uk-margin-medium uk-hidden@m">
        <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left uk-width-expand">
                <ul class="uk-navbar-nav uk-margin-medium">
                    <li><a href="#">New</a></li>
                    <li><a href="#">Hot</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-margin-medium">
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Travel Guides</a></li>
                    <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock content %}
