{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="uk-container uk-visible@m">
    <form id="form" method="post">
        {% csrf_token %}
        <div class="uk-child-width-expand@s uk-text-center" uk-grid >
                <div class="uk-width-2-5">
                    <div class="uk-inline uk-width-1-1 pt-input-search uk-padding-small uk-border-rounded">
                    <a class="uk-form-icon pt-color-lightblue" href="#" uk-icon="icon: location"></a>
                        DESTINATION
                    </div>
                </div>
                <div class="uk-width-2-5">
                    <div class="uk-inline uk-width-1-1 pt-input-search uk-padding-small uk-border-rounded">
                    <a class="uk-form-icon pt-color-lightblue " href="#" uk-icon="icon: world"></a>
                        CATEGORY
                    </div>
                </div>
                <div class="uk-margin-auto-vertical">
                    <button class="uk-inline uk-width-1-1 uk-button pt-button-primary">
                        <a style="color: #FFFFFF" class="uk-form-icon pt-color-lightblue" href="#" uk-icon="icon: search"></a>
                        SEARCH
                    </button>
                </div>
            </div>
        </form>
</div>

    <!-- Highest rated travel guide | Worth checking out -->
<div class="uk-container">
        <div>
            <div class="uk-grid-collapse uk-text-center uk-margin-small-top" uk-grid>
                 <div class="uk-width-1-1@s uk-width-3-5@m  pt-background-lightblue pt-border-rounded uk-margin-bottom">
                    <p style="font-size: 32px; margin-top: 4px; margin-bottom: 0px; color: #FFFFFF" class="uk-text-bolder uk-text-center uk-margin-bottom">The best deal of the best</p>
                    <div style="background: #FFFFFF" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-flex uk-margin-medium-bottom">
                        <div class="uk-width-1-3">
                            <img class="pt-border-photo" src="{% static 'img/login/Stockphoto.png' %}">
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom uk-inline">
                            <div class="uk-inline uk-flex uk-flex-middle">


                            </div>
                            <div class="uk-grid-collapse" uk-grid>
                                <div class="uk-width-1-1@s uk-width-4-5@m">
                                    <div class="">
                                        <p style="font-size: 18px; margin-bottom: 0px; color: #6B818C" class="uk-text-bolder">How to travel cheap to Japan</p>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s uk-width-1-5@m ">
                                    <div class="uk-flex uk-flex-center">
                                        <p uk-icon="icon: location; ratio: 1"></p>
                                        <p class="uk-margin-remove">Japan</p>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-text-left">
                                <p class="uk-margin-medium-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="uk-position-bottom">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" style="color: #6B818C" uk-icon="icon:user"></span>
                                        <p class="uk-margin-remove" style="padding-left: 35px">Michael.herb</p>
                                    </div>
                                    <div class="uk-margin-small-left uk-flex uk-flex-middle">
                                        <a href="#" class="">
                                            <span class="uk-icon pt-color-darkblue" uk-icon="icon: plus-circle; ratio: 1"></span>
                                        </a>
                                         <p style="font-size: 30px; margin-bottom: 0px; color: #CC2936; margin-left: 3px; margin-right: 3px" class="uk-text-bolder uk-margin-remove-top">250</p>
                                        <a href="#">
                                            <span class="uk-icon pt-color-darkblue" uk-icon="icon: minus-circle; ratio: 1"></span>
                                        </a>
                                    </div>
                                    <div class="uk-position-center-right">
                                        <div class="uk-margin-small-left uk-flex uk-flex-middle">
                                            <button class="uk-button-small pt-button-primary" style="">View</button>
                                        </div>
                                    </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="width: 10px; background: #FFFFFF;" class="uk-visible@m"></div>
                <div class="uk-position-relative uk-width-1-1@s uk-width-expand pt-background-white pt-border-rounded uk-margin-bottom"  uk-slideshow>
                    <p style="font-size: 28px; margin-top: 8px; margin-bottom: 0px" class="uk-text-bolder uk-text-center">Worth checking out</p>
                    <ul class="uk-slideshow-items">
                        <li class="uk-padding-small">
                             <div style="background: #FFFFFF" class="uk-margin-medium-right uk-margin-medium-left pt-border-rounded uk-flex uk-margin-small-bottom">
                                <div class="uk-width-1-3">
                                    <img class="pt-border-photo" src="{% static 'img/login/Stockphoto.png' %}">
                                </div>
                                <div class="uk-flex">
                                    <div class="uk-flex-center uk-margin-small-left pt-color-red">250</div>
                                    <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                </div>
                             </div>
                            <div style="background: #FFFFFF" class="uk-margin-medium-right uk-margin-medium-left pt-border-rounded uk-flex uk-margin-small-bottom">
                                <div class="uk-width-1-3">
                                    <img class="pt-border-photo" src="{% static 'img/login/Stockphoto.png' %}">
                                </div>
                                <div class="uk-flex">
                                    <div class="uk-flex-center uk-margin-small-left pt-color-red">250</div>
                                    <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                </div>
                             </div>
                        <li class="uk-padding">
                            B
                        </li>
                        <li class="uk-padding">
                             C
                        </li>
                    </ul>
                    <div class="uk-position-bottom-center uk-position-small uk-margin-medium-bottom">
                        <ul class="uk-dotnav">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- New | Hot | Offers | Travel Guides | Filter -->
<!-- List of travel guides -->
<nav class="uk-container uk-container-small uk-margin-medium uk-visible@m">
    <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left uk-width-expand">
            <ul class="uk-navbar-nav uk-margin-medium">
                <li class="pt-active"><a href="#">New</a></li>
                <li ><a href="#">Hot</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-margin-medium">
                <li><a href="#">Offers</a></li>
                <li><a href="#">Travel Guides</a></li>
                <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<nav>
    <div class="uk-container uk-container-small uk-margin-medium uk-hidden@m">
        <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left uk-width-expand">
                <ul class="uk-navbar-nav uk-margin-medium">
                    <li><a href="#">New</a></li>
                    <li><a href="#">Hot</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-margin-medium">
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Travel Guides</a></li>
                    <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock content %}
