{% extends 'base.html' %}
{% load widget_tweaks %}
{% load avatar_tags %}
{% load static %}

{% block content %}
    <h1>Hello in custom login form</h1>
    {% avatar user %}
    <a href="{% url 'avatar_change' %}">Change your avatar</a>
    <form id="form" method="post">
        {% csrf_token %}
        {% render_field form.username|attr:"autofocus" class+="uk-input uk-border-rounded" placeholder="Username / Email" %}
        {% render_field form.password class+="uk-input uk-boder-rounded" placeholder="Password" %}
        <button type="submit" class="uk-button" value="login">Login</button>
        <div class="social">
        <ul>
            <li class="facebook">
                <a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a>
            </li>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">Sign in with Google</a>
            </li>
         </ul>
        </div>
    </form>
    {% if form.non_field_errors %}
        <div class="uk-alert-danger" uk-alert>
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            {% for error in form.captcha.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}