{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {% with WIDGET_ERROR_CLASS='uk-form-danger' %}
        {% render_field form.email class+="uk-input" placeholder=form.email.label %}
        <div class="uk-form-danger">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    <input class="uk-button uk-button-primary" type="submit" value="Recover your password">
    {% endwith %}
</form>
{% if form.non_field_errors %}
    <div class="uk-alert-danger" uk-alert>
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}