{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

{% if validlink %}
    <form method="POST">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='uk-form-danger' %}
        {% for field in form %}
            {% render_field field class+="uk-input" placeholder=field.label %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% endwith %}
    </form>
{% else %}
<p>Bad link</p>
{% endif %}

{% endblock %}