<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}Travel within paw's reach. Find cheap deals and read free travel guides!{% endblock description %}">
    <title>{% block title %}Pawtravel - travel within paw's reach{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/blobz.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pawtravel.css' %}"/>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    {% block additional_headers %} {% endblock additional_headers %}


</head>
<header>
    {% block navbar %}{% include 'base/navbar.html' %}{% endblock navbar %}
</header>

<body>
    {% block content %}
    {% endblock content %}
</body>

<footer>
    {% include 'base/footer.html' %}
</footer>
<script type="text/javascript">
{% block javascript %}{% endblock %}
</script>
</html>