{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
    <div class="social">
    <ul>
        <li class="facebook">
            <a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a>
        </li>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">Sign in with Google</a>
        </li>
     </ul>
    </div>
{% endif %}
{% endblock %}