{% extends 'users/profile.html' %}
{% load static %}


{% block right_side %}
    <div class="uk-margin-medium-bottom uk-width-expand uk-text-center">
        <ul class="uk-tab">
            <li>
                <a href="{% url 'profile_activities' user.id %}" aria-expanded="true">Activities</a>
            </li>
            <li class="uk-active pt-tab">
                <a href="{% url 'profile' user.id %}" aria-expanded="false">Added</a>
            </li>
        </ul>
        <div class="uk-width-1-2@m border-occasion">
            <div class="uk-grid-small uk-margin-remove-left" uk-grid>
                <!-- Img -->
                <div class="uk-cover-container uk-width-small">
                    <img class="image-occasion" src="{% static 'img/placeholders/avatars/avataro.jpg' %}"
                         alt="" uk-cover>
                </div>

                <div class="uk-padding-small uk-padding-remove-bottom uk-flex uk-flex-row uk-width-expand">
                    <!-- Offer -->
                    <div class="uk-text-left uk-margin-remove uk-width-expand" grid>
                        <div style="font-weight: bold; font-size: 18px" class="pt-color-darkblue">Chleb z
                            czarnuszką
                        </div>
                        <div> 17.03.2022</div>
                        <div style="font-size: large" class=" uk-grid-row-collapse uk-grid-column-small"
                             uk-grid>
                            <p style="color: #CC2936; font-weight: bold">1125$</p>
                            <p style="text-decoration: line-through"> 2435$</p>
                        </div>
                    </div>
                    <!-- Likes -->
                    <div class="uk-padding-small uk-margin-remove likesystem uk-width-auto uk-flex uk-flex-column uk-text-right">
                        <div class="uk-text-center">
                            <img src="{% static 'img/voting/up-paw.png' %}" width="35px">
                            <div style="font-size: 18px" class="pt-votes"><span class="countlikes">{{ likes }}169</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock right_side %}