/* ==== Colors ==== */
.pt-background-darkblue {
    background: #08415C;
}

.pt-background-lightblue {
    background: #6B818C;
}

.pt-background-red {
    background: #CC2936;
}

.pt-background-white {
    background: #EEE5E9;
}

.pt-background-manhattan {
    background: #F1Bf98;
}

.pt-color-darkblue {
    color: #08415C;
}

.pt-color-lightblue {
    color: #6B818C;
}

.pt-color-red {
    color: #CC2936;
}

.pt-color-white {
    color: #EEE5E9;
}

.pt-color-manhattan {
    color: #F1Bf98;
}


/* ==== Buttons ==== */
/* Use it together with uk-button */

.pt-button-primary {
    font-weight: 500;
    background-color: #6B818C;
    color: #ffffff;
    border-radius: 8px;
}

.pt-button-primary:hover {
    background-color: #3e5d6c;
    color: #ffffff;
}

.pt-button-primary:active,
.pt-button-primary.pk-active {
    background-color: #08415C;
    color: #ffffff;
}

.pt-button-secondary {
    font-weight: 500;
    background-color: #CC2936;
    color: #ffffff;
    border-radius: 8px;
}

.pt-button-secondary:hover {
    background-color: #ab1f2c;
    color: #ffffff;
}

.pt-button-secondary:active,
.pt-button-secondary.pk-active {
    background-color: #9d1d2a;
    color: #ffffff;
}

.pt-button-manhattan {
    font-weight: 500;
    background-color: #F1Bf98;
    color: #ffffff;
    border-radius: 8px;
}

.pt-button-manhattan:hover {
    background-color: #d3ad8d;
    color: #ffffff;
}

.pt-button-manhattan:active,
.pt-button-manhattan.pk-active {
    background-color: #c2a084;
    color: #ffffff;
}

/* ==== Forms ==== */
/* Use it together with uk framework*/

.pt-form-blue:checked {
    background-color: #08415C !important;
}

.pt-form-blue:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pt-form-blue:focus {
    border-color: #e5e5e5 !important;
}

.pt-form-lightblue:checked {
    background-color: #6B818C !important;
}

.pt-form-lightblue:focus {
    border-color: #e5e5e5 !important;
}

.pt-form-lightblue:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pt-form-red:checked {
    background-color: #CC2936 !important;
}

.pt-form-red:focus {
    border-color: #e5e5e5 !important;
}

.pt-form-red:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pt-form-manhattan:checked {
    background-color: #F1Bf98 !important;
}

.pt-form-manhattan:focus {
    border-color: #e5e5e5 !important;
}

.pt-form-manhattan:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

/* ==== Forms ==== */
/* Use it together with uk framework*/
.pt-input {
    background-color: #EEE5E9 !important;
    border: 2px solid #6B818C !important;
    color: #6B818C;
}

.pt-input:focus {
    border: 2px solid #F1Bf98 !important;
}

.pt-search
{
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #6B818C!important;;
}

.pt-search::placeholder
{
    color: white;
    opacity: 1;
}

.pt-search:focus {
    border: 0px;
}

/* ==== Offers && Travel guides ==== */
.pt-votes
{
    color: #CC2936;
    font-size: 28px;
    font-weight: 500;
}

/* ==== Offers ==== */
.pt-offer-title
{
    font-weight: 500;
    font-size: 28px;
}

.pt-offer-discount
{
    font-weight: 500;
    font-size: 20px;
}

.pt-offer-author-name
{
    font-weight: 500;
    font-size: 16px;
}

.pt-profile-username
{
    color: #08415C;
    font-weight: 500;
    font-size: 18px;
}

.pt-profile-image
{
    width: 160px;
    clip-path: circle();
    margin-top: -80px;
}

/* ==== Travel guides ==== */
.pt-travel-guide-image
{
    border-radius: 25px 0px 25px 0px;
    height: 225px;
}

.uk-tab>.uk-active>a
{
    color: #08415C;
    border-color: #6B818C;
    border-bottom-width: 2px;
}

.border-occasion
{
    border: 2px solid #6B818C;
    border-radius: 20px 20px 20px 0px;
}

.image-occasion
{
    min-height: 120px;
    max-height: 120px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 20px 0px 20px 0px;
}

