{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div uk-scrollspy="cls: uk-animation-scale-up; target: > div; delay: 100;">
<!-- Search Bar -->
<div class="uk-container uk-container-small">
    <form id="form" method="post">
        {% csrf_token %}
        <div class="uk-child-width-expand@m uk-text-center" uk-grid >
            <div class="uk-margin-auto-vertical">
                <div class="uk-inline uk-width-1-1@s uk-margin-small-bottom">
                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                    <input class="uk-input pt-input-search uk-border-rounded" type="search" placeholder="DESTINATION">
                </div>
            </div>
            <div class="uk-margin-auto-vertical">
                <div class="uk-inline uk-width-1-1@s uk-margin-small-bottom">
                    <span class="uk-form-icon" uk-icon="icon: thumbnails"></span>
                    <input class="uk-input pt-input-search uk-border-rounded" type="search" placeholder="CATEGORY">
                </div>
            </div>
            <div class="uk-margin-auto-vertical">
                <div class="uk-inline uk-width-1-1@s uk-margin-small-bottom">
                    <span class="uk-form-icon" uk-icon="icon: credit-card"></span>
                    <input class="uk-input pt-input-search uk-border-rounded" type="search" placeholder="BUDGET">
                </div>
            </div>
            <div class="uk-margin-auto-vertical">
                <div class="uk-inline uk-width-1-1@s uk-margin-small-bottom">
                    <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                    <input class="uk-input pt-input-search uk-border-rounded" type="search" placeholder="DATE">
                </div>
            </div>
            <div class="uk-margin-auto-vertical">
                <button class="uk-inline uk-width-1-1 uk-button pt-button-primary uk-margin-small-bottom">
                    <a style="color: #FFFFFF" class="uk-form-icon pt-color-lightblue" href="#" uk-icon="icon: search"></a>
                    SEARCH
                </button>
            </div>
        </div>
    </form>
</div>

<div class="uk-container uk-container-small">
        <div>
            <div class="uk-grid-collapse uk-text-center uk-margin-small-top" uk-grid>
                 <!-- The best deal -->
                <div class="uk-width-1-1@s uk-width-3-5@m  pt-background-lightblue pt-border-rounded uk-margin-bottom">
                    <p style="font-size: 32px; margin-top: 4px; margin-bottom: 0px; color: #FFFFFF" class="uk-text-bolder uk-text-center uk-margin-bottom">The best deal of the best</p>
                    <div style="background: #FFFFFF" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-flex uk-margin-medium-bottom">
                        <div class="uk-width-1-3 uk-visible@m">
                            <div class="uk-height-1-1"
                                style="
                                    border: 0px solid;
                                    border-bottom-left-radius: 15px;
                                    border-top-left-radius: 15px;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-image: url('https://picsum.photos/300');">
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom uk-inline">
                            <div class="uk-text-left">
                                <p style="font-size: 18px; margin-bottom: 0px; color: #6B818C" class="uk-text-bolder">Chleb z czarnuszką</p>
                            </div>
                            <div class="uk-grid-collapse" uk-grid>
                                <div class="uk-width-auto uk-flex">
                                    <div>
                                        <p style="font-size: 18px; margin-bottom: 0px; color: #CC2936" class="uk-text-bolder">1125$</p>
                                    </div>
                                    <div class="uk-margin-small-left">
                                        <p style="font-size: 18px; margin-bottom: 0px; color: lightgray" class=""><s>2434$</s></p>
                                    </div>
                                </div>
                                <div class="uk-width-expand uk-text-right uk-margin-small-right uk-margin-auto-vertical">
                                    <div class="">
                                        <p style="font-size: 12px; margin-bottom: 0px; color: lightgray" class="uk-text-bolder">Ends: 01-01-2023</p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-text-left">
                                <p class="uk-margin-remove-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="" uk-grid>
                                <div class="uk-flex uk-flex-center uk-margin-auto-vertical">
                                    <p uk-icon="icon: user; ratio: 1"></p>
                                    <p class="uk-margin-remove-top uk-margin-small-left">Michael.herb</p>
                                </div>
                                <div class="uk-width-expand uk-flex uk-flex-center ">
                                        <a href="#" class="uk-margin-auto-vertical">
                                            <span class="uk-icon pt-color-darkblue" uk-icon="icon: plus-circle; ratio: 1.2"></span>
                                        </a>
                                         <p style="font-size: 30px; margin-bottom: 0px; color: #CC2936; margin-left: 3px; margin-right: 3px" class="uk-text-bolder uk-margin-remove-top">250</p>
                                        <a href="#" class="uk-margin-auto-vertical">
                                            <span class="uk-icon pt-color-darkblue" uk-icon="icon: minus-circle; ratio: 1.2"></span>
                                        </a>
                                </div>
                                <div class="uk-margin-auto-vertical">
                                    <button class="uk-button-small pt-button-primary" style="">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 10px; background: #FFFFFF;" class="uk-visible@m"></div>
                 <!-- Top offers  -->
                <div class="uk-position-relative uk-width-1-1@s uk-width-expand pt-background-white pt-border-rounded uk-margin-bottom uk-visible@m"  uk-slideshow>
                    <p style="font-size: 28px; margin-top: 8px; margin-bottom: 0px" class="uk-text-bolder uk-text-center">Top offers</p>
                    <ul class="uk-slideshow-items ">
                          <!-- Slide 1  -->
                        <li class="uk-padding-small uk-overflow-auto ">
                            <div class="uk-position-center">
                                <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                    <div class="uk-width-1-3">
                                        <div class="uk-height-1-1"
                                            style="
                                                border: 0px solid;
                                                border-bottom-left-radius: 15px;
                                                border-top-left-radius: 15px;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-image: url('https://picsum.photos/300');">
                                        </div>
                                    </div>
                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left pt-color-red uk-margin-small-right">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                     </div>
                                </div>
                            </div>
                        </li>
                         <!-- Slide 2  -->
                        <li class="uk-padding-small uk-overflow-auto ">
                            <div class="uk-position-center">
                                <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                    <div class="uk-width-1-3">
                                        <div class="uk-height-1-1"
                                            style="
                                                border: 0px solid;
                                                border-bottom-left-radius: 15px;
                                                border-top-left-radius: 15px;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-image: url('https://picsum.photos/300');">
                                        </div>
                                    </div>
                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left pt-color-red uk-margin-small-right">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold uk-margin-small-right"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                     </div>
                                </div>
                            </div>
                        </li>
                         <!-- Slide 3  -->
                        <li class="uk-padding-small uk-overflow-auto ">
                            <div class="uk-position-center">
                                <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                    <div class="uk-width-1-3">
                                        <div class="uk-height-1-1"
                                            style="
                                                border: 0px solid;
                                                border-bottom-left-radius: 15px;
                                                border-top-left-radius: 15px;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-image: url('https://picsum.photos/300');">
                                        </div>
                                    </div>
                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left pt-color-red">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                     </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="uk-position-bottom-center uk-position-small uk-margin-small-bottom">
                        <ul class="uk-dotnav">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        </ul>
                    </div>
                </div>

                <div class="uk-position-relative uk-width-1-1@s uk-width-expand pt-background-white pt-border-rounded uk-margin-bottom uk-hidden@m"  uk-slideshow>
                    <p style="font-size: 28px; margin-top: 8px; margin-bottom: 0px" class="uk-text-bolder uk-text-center">Top offers</p>
                    <div class="uk-margin-small-top uk-margin-small-bottom uk-grid-column-collapse" uk-grid>
                        <div class="uk-width-1-3">
                            <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left uk-margin-small-right pt-color-red">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical uk-margin-small-right">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet</div>
                                     </div>
                                </div>
                        </div>
                        <div class="uk-width-1-3">
                            <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left pt-color-red uk-margin-small-right">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical uk-margin-small-right">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet</div>
                                     </div>
                                </div>
                        </div>
                        <div class="uk-width-1-3">
                            <div style="background: white" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-margin-small-bottom uk-margin-remove-top uk-grid-column-collapse" uk-grid>
                                <div class="uk-width-auto uk-margin-auto-vertical">
                                        <div class="uk-margin-small-left pt-color-red uk-margin-small-right">250</div>
                                    </div>
                                     <div class="uk-width-expand uk-margin-auto-vertical uk-margin-small-right">
                                         <div class="uk-text-left uk-margin-small-left uk-text-bold"> Chleb z czarnuszką</div>
                                         <div class="uk-text-left uk-margin-small-left"> Lorem ipsum dolor sit amet</div>
                                     </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- New | Hot | Offers | Travel Guides | Filter -->
<!-- List of travel guides -->
<nav class="uk-container uk-container-small uk-visible@m">
    <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left uk-width-expand">
            <ul class="uk-navbar-nav">
                <li><a href="#">New</a></li>
                <li><a href="#">Hot</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">Offers</a></li>
                <li><a href="#">Travel Guides</a></li>
                <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<nav>
    <div class="uk-container uk-container-small uk-hidden@m">
        <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left uk-width-expand">
                <ul class="uk-navbar-nav">
                    <li><a href="#">New</a></li>
                    <li><a href="#">Hot</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav ">
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Travel Guides</a></li>
                    <li><a href="#">Filter<span class="uk-margin-small-left" uk-icon="icon: list; ratio: 1.5"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

    <div class="uk-container uk-container-small uk-margin-remove-bottom uk-position-relative">
        <div style="width: 75px; right: 20px; top: -30px" class="uk-position-absolute">
            <a class="uk-navbar-item uk-logo" href="#"><img src="{% static 'img/login/Fire.png' %}" width="150px"></a>
        </div>
        <div style="background: #FFFFFF; border: lightgray 1px solid" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-flex uk-margin-medium-bottom">
            <div class="uk-width-1-3 uk-visible@m">
                <div class="uk-height-1-1"
                    style="
                        border: 0px solid;
                        border-bottom-left-radius: 15px;
                        border-top-left-radius: 15px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-image: url('https://picsum.photos/300');">
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom uk-inline">
                <div class="uk-text-left">
                    <p style="font-size: 18px; margin-bottom: 0px; color: #6B818C" class="uk-text-bolder">Chleb z czarnuszką</p>
                </div>
                <div class="uk-grid-collapse" uk-grid>
                    <div class="uk-width-auto uk-flex">
                        <div>
                            <p style="font-size: 18px; margin-bottom: 0px; color: #CC2936" class="uk-text-bolder">1125$</p>
                        </div>
                        <div class="uk-margin-small-left">
                            <p style="font-size: 18px; margin-bottom: 0px; color: lightgray" class=""><s>2434$</s></p>
                        </div>
                    </div>
                    <div class="uk-width-expand uk-text-right uk-margin-small-right uk-margin-auto-vertical">
                        <div class="">
                            <p style="font-size: 12px; margin-bottom: 0px; color: lightgray" class="uk-text-bolder">Ends: 01-01-2023</p>
                        </div>
                    </div>
                </div>
                <div class="uk-text-left">
                    <p class="uk-margin-large-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="uk-position-bottom-center" uk-grid>
                    <div class="uk-flex uk-flex-center uk-margin-auto-vertical">
                        <p uk-icon="icon: user; ratio: 1"></p>
                        <p class="uk-margin-remove-top uk-margin-small-left">Michael.herb</p>
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-center ">
                            <a href="#" class="uk-margin-auto-vertical">
                                <span class="uk-icon pt-color-darkblue" uk-icon="icon: plus-circle; ratio: 1.2"></span>
                            </a>
                             <p style="font-size: 30px; margin-bottom: 0px; color: #CC2936; margin-left: 3px; margin-right: 3px" class="uk-text-bolder uk-margin-remove-top">250</p>
                            <a href="#" class="uk-margin-auto-vertical">
                                <span class="uk-icon pt-color-darkblue" uk-icon="icon: minus-circle; ratio: 1.2"></span>
                            </a>
                    </div>
                    <div class="uk-flex uk-flex-center uk-margin-auto-vertical">
                        <p uk-icon="icon: world; ratio: 1"></p>
                        <p class="uk-margin-remove-top uk-margin-small-left">Trip</p>
                    </div>
                    <div class="uk-margin-auto-vertical">
                        <button class="uk-button-small pt-button-primary" style="">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-small uk-margin-medium-bottom">
        <div style="background: #FFFFFF; border: lightgray 1px solid" class="uk-margin-small-right uk-margin-small-left pt-border-rounded uk-flex uk-margin-remove-bottom">
            <div class="uk-width-1-3 uk-visible@m">
                <div class="uk-height-1-1"
                    style="
                        border: 0px solid;
                        border-bottom-left-radius: 15px;
                        border-top-left-radius: 15px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-image: url('https://picsum.photos/300');">
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom uk-inline">
                <div class="uk-text-left">
                    <p style="font-size: 18px; margin-bottom: 0px; color: #6B818C" class="uk-text-bolder">Chleb z czarnuszką</p>
                </div>
                <div class="uk-grid-collapse" uk-grid>
                    <div class="uk-width-auto uk-flex">
                        <div>
                            <p style="font-size: 18px; margin-bottom: 0px; color: #CC2936" class="uk-text-bolder">1125$</p>
                        </div>
                        <div class="uk-margin-small-left">
                            <p style="font-size: 18px; margin-bottom: 0px; color: lightgray" class=""><s>2434$</s></p>
                        </div>
                    </div>
                    <div class="uk-width-expand uk-text-right uk-margin-small-right uk-margin-auto-vertical">
                        <div class="">
                            <p style="font-size: 12px; margin-bottom: 0px; color: lightgray" class="uk-text-bolder">Ends: 01-01-2023</p>
                        </div>
                    </div>
                </div>
                <div class="uk-text-left">
                    <p class="uk-margin-large-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="uk-position-bottom-center" uk-grid>
                    <div class="uk-flex uk-flex-center uk-margin-auto-vertical">
                        <p uk-icon="icon: user; ratio: 1"></p>
                        <p class="uk-margin-remove-top uk-margin-small-left">Michael.herb</p>
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-center ">
                            <a href="#" class="uk-margin-auto-vertical">
                                <span class="uk-icon pt-color-darkblue" uk-icon="icon: plus-circle; ratio: 1.2"></span>
                            </a>
                             <p style="font-size: 30px; margin-bottom: 0px; color: #CC2936; margin-left: 3px; margin-right: 3px" class="uk-text-bolder uk-margin-remove-top">250</p>
                            <a href="#" class="uk-margin-auto-vertical">
                                <span class="uk-icon pt-color-darkblue" uk-icon="icon: minus-circle; ratio: 1.2"></span>
                            </a>
                    </div>
                    <div class="uk-flex uk-flex-center uk-margin-auto-vertical">
                        <p uk-icon="icon: world; ratio: 1"></p>
                        <p class="uk-margin-remove-top uk-margin-small-left">Trip</p>
                    </div>
                    <div class="uk-margin-auto-vertical">
                        <button class="uk-button-small pt-button-primary" style="">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
